{% include 'base.html' %}
{% block content %}

<!--Make this h1 tag to be centered-->
<div class="sticky-top text-center mt-5">
    <h1 class="">League Table</h1>
</div>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Points</th>
      <th scope="col">Matches Played</th>
      <th scope="col">Wins</th>
      <th scope="col">Draws</th>
      <th scope="col">Losses</th>
    </tr>
  </thead>
  <tbody>
  {% for standing in standings %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ standing.team_id }}</td>
      <td>{{ standing.points }}</td>
      <td>{{ standing.matches_played }}</td>
      <td>{{ standing.wins }}</td>
      <td>{{ standing.draws }}</td>
      <td>{{ standing.losses }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}